body {
    font-size: 71%;
    line-height: 150%;
    font-family: "Verdana";
    margin: 2em;
}

h1 {
    color: #b06718;
}

h2 {
    color: #b06718;
    font-weight: bold;
    font-size: 100%;
}

li.functions {
    display: inline-block;
    margin-right: 1em;
}

p.description {
    color: #555555;
}

a {
    color: darkblue;
    font-weight: bold;
    text-decoration: none;
}
