body {
    font-size: 71%;
    line-height: 150%;
    font-family: "Verdana";
    margin: 2em;
}

h1 {
}

h2 {
    font-size: 90%;
    font-weight: normal;
    border-top-style: solid;
    border-color: #8b94e1;
    margin-top: 4ex;
}

h2.moreinfo {
    font-weight: bold;
    color: #fd9800;
    background-color: #fffde5;
    /* margin-right: auto; */
    /* border-style: solid; */
    /* border-color: red; */
    border: 1px solid #ff6400;
    display: inline-block;
    font-size: 82%;
    padding: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.5em;
}

li.moreinfo {
    margin-bottom: 2ex;
}

h3 {
    font-size: 100%;
}


li.functions {
    display: inline-block;
    margin-right: 1em;
}

p.usage {
    border-top-style: solid;
    border-color: #fd9800;
    background-color: #fffde5;
    padding: 1.3em;
    padding-left: 2em;
}

a {
    color: darkblue;
    font-weight: bold;
    text-decoration: none;
}

table {
    font-size: 100%;
}

table td {
    padding: 0.5em;
}


tr.example {
    margin: 100px;
}

td.label {
    text-align: right;
    color: darkblue;
    font-size: 80%;
}

.in {
    font-weight: bold;
    font-size: 100%;
}

ul {
    list-style-type: square
}

a.guidelink {
    font-weight: normal;
}

table.options {
    border-collapse:collapse;
    font-size: 90%;
}

td.option {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-left: 1em;
    padding-right: 1em;
}

td.optionvalue,
td.optionname {
    font-family: courier;
    font-size: 120%;
}
